
.body{
    background-color: #1E1E1E;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared styles */
.display-flex{
    display:flex;
}
.text-black{
    color: rgba(0, 0, 0, 1);
}
.text-gray{
   color: rgba(0, 0, 0, 0.5);
}
.text-head{
    color: #E95A08;
}

/* navbar related styles */
.logo{
    height: 82px;
    width: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    margin-right: 48px;
}
.menu-icon{
    display: flex;
}


.nav-link{
    text-decoration: none;

}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 233px;
}
.head{
    font-size: 65px;
    font-weight: bold;
}
.section-2{
    text-align: center;
}
.card-head{
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
    
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card img{
    width: 100%;
    height:auto;
    border-radius: 8px;
}
.product-name{
    margin-top: 5px;
    text-align: center;
    
}
.price{
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}
.btn{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 240px;
}
.image-box img:first-child{
    width: 540px;
    height: 597px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

 .badge{
    position: absolute;
    margin-top: -100px;
    margin-left: -200px;
    width: 286px;
    height: auto;

} 
h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 60px;
}
ul{
    padding-left: 60px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f7f9;
}

.deals-section{
    max-width: 1200px;
    margin: 0 auto;
}
.deals-section h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
/* container layout */
.deals-container{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
}
/* left side - two vertical cards */
.left-cards{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap:25px;
}
/* each card style */
.card-1{
    position: relative;
    /* overflow: hidden; */
    border-radius: 10px;

}
.card-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
/* overlay shadow */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100% ;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    pointer-events: none;
    
}
.overlay h3{
    font-size: 20px;
    font-size: bold;
    color: white;
}
.overlay a{
    display: inline-block;
    padding: 8px 15px;
    color: white;
}
/* Right side - big card */
.big-card{
    flex: 1 1 50%;
    min-height: 400px;
}
.left-cards .card-1{
    height: calc((400px-25px)/2);
}


/* navbar media responsive */
@media screen and (max-width: 768px) {
    .nav-item{
        display: none;
    }
    .logo{
        height: 50px;
        max-width: 120px;
    }
    .menu-icon{
        display: block;
    }
    .cart-text{
        display: inline;
        font-size: 16px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        text-align:left;
        padding: 0 16px;
       
    }
    .banner img{
        max-width: 300px;
    
        
    }
    .head{
        font-size: 24px;
    }
     .product-container{
        grid-template-columns: repeat(2, 1fr);
     
     }
     .container{
        flex-direction: column;
     }
     .image-box img:first-child {
        width: 100%;
        height: auto;
     }
     .badge{
        display: none;
     }
     .content-box{
        text-align: center;
        padding: 10px;
     }
     h1{
        font-size: 24px;

     }
     li{
        font-size: 15px;
     }

}

